.b2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.a2 {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 20px;
	border: 3px solid #262626;
	padding: 10px 20px;
	position: relative;
	overflow: hidden;
}

.a2:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff200;
	height: 100%;
	width: 100%;
	z-index: -1;
	transform-origin: bottom left;
 	transform: rotate(-90deg);
	transition: transform 1s;
}

.a2:hover:before {
	transform: rotate(0deg);
}
